<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hilmansyafei.lihatjadwal" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Schedule"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Pilih_Menu"
            android:label="Schedule" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".Pilih_Menu"/>-->
        <activity android:name=".LIst_Jadwal"/>
        <activity android:name=".Input_data"/>
        <activity android:name=".List_ujian"/>
        <activity android:name=".List_Nilai"/>
        <activity android:name=".Cek_Nilai"/>
    </application>

</manifest>
